/* App bar container */
.appbar {
	padding: 20px;
	border : 2px solid #E91E63;
	border-radius: 4px;
	margin-top: 10px;
}
.logo{
	
}
/* Inner container */
.appbar__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Logo */
.appbar__inner img.logo {
	max-width: 85px;
	height: auto;
	/* Maintain aspect ratio */
}

/* Navigation menu */
.appbar__menus {
	display: flex;
}

/* Menu items */
.appbar__menus a {
	color: #E91E63;
	margin-left: 20px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.appbar__menus a.active {
	border : 3px solid #E91E63;
	padding :8px;
	border-radius: 20px;
	color: var(--darkBlack);
}